<%- include("../includes/header.ejs", {title:"Orginization - View All"}); %>

<h1>All Orginizations</h1>
<a href="/orginization/add">Add New Team</a> &ndash; Click this link to create a new Team! <br />
<a href="/orginization/Ask">Search for PPG</a> &ndash; Click this link to search for teams with a threshold PPG! <br />


<br />
<nav>
    <table border="1">
        <tr><th>Team Name</th><th>Actions</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><a href="/orginization/?Team_Name=<%= result[i].Team_Name %>"><%=result[i].Team_Name %></a></td>
            <td>
                <button onclick="event.preventDefault();window.location.href='/orginization/edit/?Team_Name=<%= result[i].Team_Name %>'">Edit</button>
                <form action="/orginization/delete/" style="display:inline;">
                    <input type="hidden" name="Team_Name" id="Team_Name" value="<%= result[i].Team_Name %>" />
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>
        <% } %>
    </table>
</nav>
<article>
    <h1>Welcome to the Teams Page!</h1>
Here you can find all the information about the current teams in the leugue click on any team to see their current front office.
</article>



<%- include("../includes/footer.ejs"); %>