<%- include("../includes/header.ejs", {title:"Orginization - View All"}); %>

<h1>All Orginizations</h1>
<a href="/orginization/all">Back to view all Orginizations Page</a> <br />


<br />
<nav>
    <table border="1">
        <tr><th>Team</th><th>Starting 5 Points Per Game </th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><%= result[i].Team_Name %></td>
            <td><%= result[i].Statring_5_Ppg %></td>

        </tr>
        <% } %>
    </table>
</nav>




<%- include("../includes/footer.ejs"); %>