<%- include("../includes/header.ejs", {title:"Account - View All"}); %>
<a href="/player/select">Back to view all Players Page</a> <br />

<h1>Player</h1>
<form action="/player/add_stats" style="display:inline;">
    <input type="hidden" name="player_id" id="player_id" value="<%= result[0].player_id %>" />
    <input type="submit" value="Add Player Statistics"/>
    </form >
<br/>
<br/>

<td>Player Name:   <%= result[0].PLayer_first_name %> <%= result[0].Player_last_name %></td>

<br />
<td>Player number:   <%= result[0].player_number %> </td>
<br />
<td>Position:   <%= result[0].player_number %> </td>
<br />
<nav>
    <table border="1">
        <tr><th>Minutes Per Game</th> <th>Points Per Game</th> <th>Assists Per Game</th> <th>Rebounds Per Game</th> <th>Blocks Per Game</th> <th>Steals Per Game</th> <th>Year</th> <th>With Team</th><th>Actions</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td>  <%=result[i].Minutes_per_game%> </td>
            <td>  <%=result[i].Points_per_game%> </td>
            <td>  <%=result[i].Assists_per_game%> </td>
            <td>  <%=result[i].Rebounds_per_game%> </td>
            <td>  <%=result[i].Blocks_per_game%> </td>
            <td>  <%=result[i].Steals_per_game%> </td>
            <td> <%=result[i].Year_happened%> </td>
            <td> <%=result[i].Team%> </td>
            <td>
                <form action="/player/delete_stats/" style="display:inline;">
                    <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                    <input type="hidden" name="Minutes_per_game" id="Minutes_per_game" value="<%= result[i].Minutes_per_game %>" />
                    <input type="hidden" name="Points_per_game" id="Points_per_game" value="<%= result[i].Points_per_game %>" />
                    <input type="hidden" name="Assists_per_game" id="Assists_per_game" value="<%= result[i].Assists_per_game %>" />
                    <input type="hidden" name="Rebounds_per_game" id="Rebounds_per_game" value="<%= result[i].Rebounds_per_game %>" />
                    <input type="hidden" name="Blocks_per_game" id="Blocks_per_game" value="<%= result[i].Blocks_per_game %>" />
                    <input type="hidden" name="Steals_per_game" id="Steals_per_game" value="<%= result[i].Steals_per_game %>" />
                    <input type="hidden" name="Team_name" id="Team_name" value="<%= result[i].Team %>" />
                    <input type="hidden" name="Year_happened" id="Year_happened" value="<%= result[i].Year_happened %>" />
                    <input type="submit" value="Delete"/>
                </form>
            </td>

        </tr>

        <% } %>
    </table>
</nav>

<%- include("../includes/footer.ejs"); %>