<%- include("../includes/header.ejs", {title:"Select A Team"}); %>


<h1>Player Page  </h1>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
         was successfully saved. %>
    </div>
</div>
<% }%>

<br />
<br />
<a href="/player/add">Add New Player</a> &ndash; Click this link to add a new player to the NBA.<br />
<nav>
<form action="/player/team" method="get">
    Select A Team to view its Players:
    <br />
    <select id="Team_Name" name="Team_Name">
        <% for(var i=0; teams.length > i; i++ ) { %>
        <option value="<%= teams[i].Team_Name %>"><%= teams[i].Team_Name %></option>

        <% } %>
    </select>

    <br/>


    <input type="submit" />
</form>
    <form action="/player/ViewResultPPG" method="get">
        Search For players who have averaged an amount of points in a Season <input id="points" name="points" type ="text" />
        <input type="submit" />
    </form>

    </form>
    <form action="/player/ViewResultAPG" method="get">
        Search For players who have averaged an amount of Assists in a Season <input id="assists" name="assists" type ="text" />
        <input type="submit" />
    </form>
    <form action="/player/ViewResultRPG" method="get">
        Search For players who have averaged an amount of Rebounds in a Season <input id="Rebounds" name="Rebounds" type ="text" />
        <input type="submit" />
    </form>
</nav>
<br />
<article>
    <h1>Welcome to the Players Page!</h1>
Welcome to the Veiw all players page. Under you can see all current players in the NBA if you wile to view their stats click on their name!
    <table border="1">
        <tr><th>Player Name</th><th>Position</th><th>Team</th><th>Actions</th></tr>
        <% for(var i=0; player.length > i; i++ ) { %>
        <tr>
            <td><a href="/player/?player_id=<%= player[i].player_id %>"><%=player[i].PLayer_first_name %></a>
            <a href="/player/?player_id=<%= player[i].player_id %>"><%=player[i].Player_last_name %></a></td>
            <td><a href="/player/?player_id=<%= player[i].player_id %>"><%=player[i].Position %></a></td>
            <td><%=player[i].Team_name %></td>
            <td>
                <button onclick="event.preventDefault();window.location.href='/player/edit/?player_id=<%= player[i].player_id %>'">Edit</button>
                <form action="/player/delete/" style="display:inline;">
                    <input type="hidden" name="player_id" id="player_id" value="<%= player[i].player_id %>" />
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>
        <% } %>
    </table>



</article>
<%- include("../includes/footer.ejs"); %>